.gradle/
build/
run/
runs/
src/generated/
out/
logs/
crash-reports/
hs_err_pid*.log
replay_*.log
*.iml
.idea/
.classpath
.project
.settings/
.vscode/*.code-workspace
local.properties
*.local
*.secret
*.key
repo/
libs/
run/options.txt
run/usercache.json
